<header class="p-3 text-bg-dark">
 <div class="container">
   <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
     <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
       <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
     </a>

     <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
       <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
       <li><a href="/news" class="nav-link px-2 text-white">news</a></li>
       <li><a href="/test" class="nav-link px-2 text-white">Test</a></li>
       <li><a href="#" class="nav-link px-2 text-white">none</a></li>
       <li><a href="#" class="nav-link px-2 text-white">none</a></li>
     </ul>

     {% if request.user.username %}
<!--     Если пользователь авторизован, показывается имя и кнопка выхода-->
        <div class="text-end">
          <a href="{% url 'auth:user_page' %}"><span class="username badge bg-info">{{request.user.username}}</span></a>
          <a href="{% url 'account_logout' %}"><button type="button" class="btn btn-light">Logout</button></a>
<!--      <button type="button" class="btn btn-light"><a href="{% url 'auth:logout' %}">Logout</a> </button>-->
        </div>
     {% else %}
<!--     Если не авторизован, предлагает авторизацию-->
        <div class="text-end">
          <a href="{% url 'account_signup' %}"><button type="button" class="btn btn-light">Reg</button></a>
<!--      <button type="button" class="btn btn-light"><a href="{% url 'auth:signup' %}">Reg</a> </button>-->
         <a href="{% url 'account_login' %}"><button type="button" class="btn btn-info">Login</button></a>
<!--      <button type="button" class="btn btn-info"><a href="{% url 'auth:login' %}">Login</a></button>-->
        </div>
      {% endif %}

   </div>
 </div>
</header>