{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все статьи</h1>
<p>Количество статей: {{ news|length }}</p>
<hr> <br>
<a href="add" class="add-news"><button class="btn btn-info">Написать пост</button></a>
{% if news %}
<!--    <form method="GET">-->
<!--   {{ filter.form }}-->
<!--   <input class="btn btn-primary me-2 btn-outline-light" type="submit" value="Найти">-->
<!--    </form>-->
    <br> <br>
    <a href="search" class="search-btn">Расширенный поиск</a>
    <br> <br>
    <table class="table">
        <tr>
<!--            <th scope="col">-->
<!--                Тип, категории-->
<!--            </th>-->
            <th scope="col">
                Дата
            </th>
            <th scope="col">
                Автор
            </th>
            <th scope="col">
                Заголовок
            </th>
            <th scope="col">
                Текст
            </th>
            <th scope="col">
                Рейтинг
            </th>
            <th scope="col">
                Действия
            </th>
        </tr>
        {% for post in news %}
        <tr>
<!--            <td>-->
<!--                {{ post.type }}; {{ post.get_category_name }}-->
<!--            </td>-->
            <td>
<!--                {{ post.date }}-->
                {{ post.date|date:'d m y' }}
            </td>
            <td>
                {{ post.author }}
            </td>
            <td>
                <a href="{{ post.id }}" class="open-post">{{ post.title|censor }}</a>
            </td>
            <td>
<!--                {{ post.preview }}-->
<!--                {{ post.text|truncatewords:20 }}-->
                {{ post.text|truncatechars:20|censor }}
            </td>
            <td>
                {{ post.rating }}
            </td>
            <th>
                <a href="{% url 'pages:update_post' post.id  %}">
                    Ред.
                </a> ||
                <a href="{% url 'pages:del_post' post.id %}">
                    Удалить
                </a>
            </th>
        </tr>
        {% endfor %}
    </table>

{% else %}
    <h3>Статей нет</h3>
{% endif %}

{% include 'parts/paginator.html' %}

<!--<form method="POST">-->
<!--   {% csrf_token %}-->
<!--   <label for="title" class="form-label">Заголовок</label>-->
<!--   <input name="title" id="title" class="form-control" type="text">-->
<!--   <label for="text" class="form-label">Текст статьи</label>-->
<!--   <input name="text" class="form-control text-post" id="text" type="text">-->

<!--   <label for="select" class="form-label">Type</label>-->
<!--   <select name="type" id="select" class="form-select">-->
<!--       <option selected>Open this select menu</option>-->
<!--       {% for type in choices %}-->
<!--       <option value="{{ type.0 }}">-->
<!--           {{ type.1 }}-->
<!--       </option>-->
<!--       {% endfor %}-->
<!--   </select>-->
<!--   <input class="btn btn-success" type="submit" value="Add">-->
<!--</form>-->

<!--<form method="POST">-->
<!--   {% csrf_token %}-->
<!--   {{ form }}-->
<!--   <input class="btn btn-success" type="submit" value="Add">-->
<!--</form>-->
<br> <br>
{% endblock content %}