{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}

{% if post %}
<div class="card">
    <div class="card-header">
        <h3>{{ post.title|censor }}</h3>
        <div>
            Автор: <span class="badge bg-info">{{ post.author }}</span>
        </div>
        <div>
            <span>{{ post.date|date:'d m y, H:i' }}</span>
        </div>
        <div>
            Категории:
            {% for c in post.category.all %}
                <a href="{% url 'pages:categories'%}{{ c.pk }}">{{ c.name }}</a> |
            {% endfor %}
        </div>
    </div>
    <div class="card-body">
        <span>{{ post.text|censor }}</span>
    </div>
    <div>
        <span class="card-body"><a href="{% url 'pages:update_post' post.id %}">Редактировать</a> </span>
        <span class="card-body"><a href="{% url 'pages:del_post' post.id %}">Удалить</a> </span>
        <br>
        <br>
    </div>

</div>

{% else %}
    <h3>Страница не существует</h3>
{% endif %}

<br><br>

{% endblock content %}