<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% comment "Comment" %}
    ignore it
    {% load cache %} <!-- Загружаем кэширование -->
        {% cache 30 header %} <!-- Кэшируем отдельный блок на 30 секунд -->
            {% block header %}
            {% endblock header %}
        {% endcache %}

{% autoescape on %}
    В качестве инструмента, который уже встроен в Django, мы упоминали экранирование HTML-кода.
    Если вы, например, в форму вставите HTML-код и отправите его POST-запросом на сервер, то он заменит управляющие символы (такие, как угловые скобки) на их специальные коды.
    И тогда при последующем выводе этих данных они будут выглядеть именно как код, а не рендериться в соответствии с тем, что написано в коде.
    Иными словами, будут выводиться просто как текст.
    Этот метод по умолчанию регулируется тэгом autoescape со значением on.
    Для включения экранирования ничего делать не нужно, оно всегда включено автоматически.
    Однако, если для каких-то ваших целей необходимо выключить автоэкранирование, то нужную часть кода можно поместить внутри тэга autoescape со значением off.
{% endautoescape %}

    {% for obj in array %}
    <tr class="{% cycle 'blue' 'white' %}">
        <td> {{ obj.col1 }} </td>
        <td> Позволяет менять цвета строчек в таблице </td>
    </tr>
    {% endfor %}

    В шаблон передается несколько переменных и нужно выбрать одну из них, которая принимает значение не False  (в т. ч. и пустые строки, пустые списки и т. д.).
    Его использование эквивалентно громоздкой конструкции if .. elif .. else.
    В предлагаемом варианте также можно установить дефолтное значение, которое будет использоваться, если все переменные эквивалентны False.
    {% firstof var1 var2 var3 %}
    {% firstof var1 var2 var3 "default_value" %}

    Проверка иф внутри цикла
    {% for t in array %}
        do_something
    {% empty %}
        Список пуст
    {% endfor %}

    Данные тэг используется в циклах для выполнения кода только при наличии изменений.

    Используется без аргументов, и тогда рендеринг происходит только, если содержимое внутри тэга подверглось изменениям.

    {% for t in array %}
        {% ifchanged %}
            Вывести значение {{ t.key }}
        {% endifchanged %}
        do something in loop
    {% endfor %}

    Можно вручную контролировать изменения данных, если использовать аргументы.
    {% for t in array %}
        {% ifchanged t.key %}
            Вывести значение {{ t.key }}
        {% endifchanged %}
        do something in loop
    {% endfor %}

    Последний тэг, с которым мы познакомимся — это тэг создания контекстных переменных.
    Часто при использовании данных внутри шаблонов приходится писать длинные конструкции с большим количеством точек по типу object.other_object.field.method.
    Это неудобно и неэффективно.
    Тэг with позволяет кэшировать подобные, часто используемые, переменные, используя более короткие имена:

    {% with my_method = object.other_object.field.method %}
        do something with my_method
    {% endwith %}

    add 	Добавляет аргумент к значению. Поддерживает операции сложения из Python: числа, строки, списки 	{{ value|add:»2» }}

    capfirst 	Заменяет регистр первого символа на верхний 	{{ value| cupfirst}}    django -> Django

    cut 	Удаляет все символы из строки 	{{ value|cut:» « }}  удалит все пробелы

    date 	Форматирует дату согласно шаблону 	{{ value|date:»D d M Y» }}

    default 	Использовать дефолтное значение, если value==False 	{{ value|default:»nothing» }}

    default_if_none 	Использовать дефолтное значение, если None 	{{ value|default_is_none:»nothing» }}

    first 	Возвращает первый элемент списка 	{{ value|first }}  Если value=[1,2,3], то вернется 1

    floatformat 	Форматирует числа с плавающей точкой 	{{ value|floatformat:2 }} Если value=32.23234, то будет 32.23

    join 	Действует как Python-функция join 	{{ value|join:» // « }}

    last 	Аналогично first, только для последнего 	{{ value|last }}

    length 	Возвращает длину списка 	{{ value|length }}

    linenumbers 	Вставляет нумерацию для элементов списка 	{{ value|linenumbers }}

    lower 	Понижает регистр во всей строке 	{{ value|lower }}

    random 	Возвращает случайное значение списка 	{{ value|random }}

    slice 	Делает Python-срез списка 	{{ some_list|slice:":2" }}

    time 	Аналогично фильтру date 	{{ value|time:"H:i" }}

    truncatechars 	Обрезает текст по количеству символов 	{{ value|truncatechars:7 }}

    truncatewords 	Обрезает текст по количеству слов 	{{ value|truncatewords:2 }}

    upper 	Аналогично lower только повышает регистр 	{{ value|upper }}

    yesno 	Позволяет заменить True, False и None на более привычные строки 	{{ value|yesno:"yeah,no,maybe" }}


{% endcomment %}

</body>
</html>